/* FUENTES */
@font-face {
    font-family: "subtitulos";
    src: url('./fonts/Raleigh\ Rock.ttf')
}

@font-face {
    font-family: "navigation";
    src: url('./fonts/CF_PunkRockShow.ttf')
}

/* ANIMACIONES */
@keyframes float {
    0% {
      transform: rotate(-4deg);
    }
    100% {
      transform: rotate(4deg);
    }
  }

/* SCROLLBAR */


/* MAIN AND BODY */
body{
    margin: 0;
    padding: 0;
    background-color: black;
}

main{
    margin-left: 5rem;
}

/* Barra de navegación */
.navbar {
    position: fixed;
    background-color: #250303;
    transition: width 100ms ease;
    top: 0;
    width: 5rem;
    height: 100vh;
    z-index: 1;
  }

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    font-family: "subtitulos";
    filter: opacity(0.8);
    transition: 200ms ease;
    font-size: 1.3rem;
}

.nav-link:hover {
    filter: opacity(1);
    background-color: #701012;
}

.link-text{
    display: none;
    margin-left: 0.3rem;
    
}

.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover{
    width: 15rem;
}

.navbar:hover .link-text{
    color: #E4D1AB;
    display: inline;
}

/* CONTENIDO DEL MAIN */
/* Página de Inicio */
#inicio{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(./img/mikky-koopac-hwQZLREASZk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    z-index: -1;
}

/*LOGO */
.logo{
    height: 15rem;
    width: 38rem;
}

.logo img{
    animation: float 4s ease-in-out infinite alternate;
    width: 100%;
    height: 100%;
    margin: 0;
}

/* Subtitulos de #inicio */
.subtitulos{
    position: fixed;
    right: 0rem;
    top: 1rem;
    text-align: end;
    font-family: "subtitulos";
    transform: skewX(-3deg) skewY(-0.5deg);
    filter: opacity(0.95);
    font-size: 1.1rem;
}

.subtitulos:hover {
    filter: opacity(3);
}

.subtitulos .text-format-titles_1 , .subtitulos .text-format-titles_2{
    padding: 0.4rem;
    padding-right: 0.8rem;
}


.subtitulos .text-format-titles_1{
    background-color: #E4D1AB;
    color: #A91B1D;
}

.subtitulos .text-format-titles_2{
    background-color: #A91B1D;
    color: #E4D1AB;
}