@font-face {
    font-family: "subtitulos";
    src: url('./fonts/Raleigh\ Rock.ttf')
}

@font-face {
    font-family: "navigation";
    src: url('./fonts/CF_PunkRockShow.ttf')
}

@keyframes float {
    0% {
      transform: skewY(7deg);
    }
    100% {
      transform: skewY(-7deg);
    }
  }

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

main{
    margin-left: 5rem;
}

/* ANIMACIÓN DEL LOGO */
.logo img{
    animation: float 4s ease-in-out infinite alternate;
}

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item:last-child{
    margin-top: auto;
}

#inicio{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(./img/mikky-koopac-hwQZLREASZk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

/* nav a{
    font-family: "navigation";
    font-size: 2em;
    color: #E4D1AB ;
} */

/* nav a:hover{
    color: #A91B1D;
} */