.h2-responsive{
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    display: inline-block;
    border-bottom: 2px solid indianred;
}

header{
    text-align: center;
}

.img-article{
    width: 22%;
}

article{
    text-align: center;
}

.img-article{
    width: 100%;
}

.parrafo-article{
    display: inline-block;
}

.div-article{
    display: inline-block;
    width: 25%;
}