/* FUENTES */
@font-face {
    font-family: "OpenSansCondensed-Light";
    src: url('./fonts/OpenSansCondensed-Light.ttf')
}

/* HTML BASIC TAGS */
body{
    margin: 0em;
}

/* CLASES */
.cuadricula-poemas{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.poem_title{
    font-family: "OpenSansCondensed-Light";
    color: whitesmoke;
    background-color: black;
    position: absolute;
    margin: 0px;
}

.poem img{
    width: 10em;
    height: 10em;
}

.poem{
    display: flex;
    justify-content: center;
    align-items: center;
}
