/* FUENTES */
@font-face {
    font-family: "OpenSansCondensed-Light";
    src: url('./fonts/OpenSansCondensed-Light.ttf')
}

@font-face {
    font-family: "OpenSansCondensed-Bold";
    src: url('./fonts/OpenSansCondensed-Bold.ttf')
}

/* ANIMACIONES */
/* blur de la imagen de fondo del header */
@keyframes blur-header{
    0%{-webkit-filter: blur(0px);}
    100%{-webkit-filter: blur(8px);}
}
/* sombra al texto del h1 */
@keyframes shadow-text{
    0%{text-shadow: none;}
    100%{text-shadow: -1px 1px 0 #c6c8d4;}
}


/* TAGS BASICOS */
h1{
    color: whitesmoke;
    font-size: 3em;
    font-family:"OpenSansCondensed-Bold";
    animation-name: shadow-text;
    animation-duration: 6s;
    text-shadow:  -1px 1px 0 #c6c8d4;  
}

body{
    margin: 0em;
}

header{
    display: flex;
    flex-direction: column;
}

nav
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    font-family: "OpenSansCondensed-Light";
    font-size: 1.3em;
}

/* CLASES */
/* contenido del header: titulo y subtitulo */
.cont-hdr{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* div para que solo la imagen de fondo se blurree */
.fondoBlureado{
    width: 100%;
    height: 100vh;
    position: absolute;
    /* para poder darle el index */
    z-index: -1;
    /* el z index para que quede detras del contenido la imagen */
    background-image: url(./img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* animacion de blur para el fondo */
    animation-name: blur-header;
    animation-duration: 6s;
    -webkit-filter: blur(8px);
}

/* section que incluye todo el fondo: el .fondoBlureado .cont-hdr y nav*/
.fondoRelative {
    width: 100%;
    height: 100vh;
    /* solo estan las propiedades porque el resto estan en cada seccion por separado */
}

/* clase para el subtitulo */
.subtitle{
    color: whitesmoke;
    font-family: "OpenSansCondensed-Light";
    font-size: 2em;
}

/* Color y efecto anchors */

a:link{
    color:whitesmoke;
    text-decoration: none;
}

a:visited {
    color:whitesmoke;
    text-decoration: none;
}

a:hover {
    color:whitesmoke;
    text-decoration: none;
    border-bottom: 1px solid rgba(198, 200, 212, 0.41);
}
      
a:active {
    color:whitesmoke;
}