/* FUENTES */

@font-face {
    font-family: "Economica";
    src: url('./fonts/Economica-Regular.ttf')
}

@font-face {
    font-family: "Parisienne";
    src: url('./fonts/Parisienne-Regular.ttf')
}

@font-face {
    font-family: "LeagueScript";
    src: url('./fonts/LeagueScript-Regular.ttf')
}

@font-face {
    font-family: "OpenSansCondensed-Light";
    src: url('./fonts/OpenSansCondensed-Light.ttf')
}

@font-face {
    font-family: "OpenSansCondensed-Bold";
    src: url('./fonts/OpenSansCondensed-Bold.ttf')
}

@font-face {
    font-family: "NotoSans-Regular";
    src: url('./fonts/NotoSans-Regular.ttf')
}

@font-face {
    font-family: "AmaticSC-Bold";
    src: url('./fonts/AmaticSC-Bold.ttf')
}

/* ANIMACIONES */

@keyframes blur-header{
    0%{-webkit-filter: blur(0px);}
    100%{-webkit-filter: blur(8px);}
}

@keyframes shadow-text{
    0%{text-shadow: none;}
    /* 100%{text-shadow: -4px 3px 0 #fcbaeb, -14px 7px 0 #c6c8d4;} */
    100%{text-shadow: -1px 1px 0 #c6c8d4;}
}


/* TAGS BASICOS */
h1{
    color: whitesmoke;
    font-size: 3em;
    font-family:"OpenSansCondensed-Bold";
    animation-name: shadow-text;
    animation-duration: 6s;
    /* text-shadow: -4px 3px 0 #fcbaeb, -14px 7px 0 #c6c8d4; */
    text-shadow:  -1px 1px 0 #c6c8d4;

    
    
}

body{
    margin: 0em;
}

header{
    display: flex;
    flex-direction: column;
}
nav
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    font-family: OpenSansCondensed-Light;
}

/* CLASES */

.cont-hdr{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fondoBlureado{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-image: url(./img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fondoRelative {
    width: 100%;
    height: 100vh;
}

.fondoBlureado {
    animation-name: blur-header;
    animation-duration: 6s;
    -webkit-filter: blur(8px);
}

.subtitle{
    color: whitesmoke;
    font-family: "OpenSansCondensed-Light";
    font-size: 2em;
}

/* Color y efecto anchors */

a:link{
    color:whitesmoke;
    text-decoration: none;
}

a:visited {
    color:whitesmoke;
    text-decoration: none;
}

a:hover {
    color:whitesmoke;
    text-decoration: none;
    /* background-color: rgba(198, 200, 212, 0.41); */
    /* border-radius: 3px; */
    border-bottom: 1px solid rgba(198, 200, 212, 0.41);
}
      
a:active {
    color:whitesmoke;
}

/* main{
    background: rgb(205,205,205);
    background: linear-gradient(0deg, rgba(205,205,205,1) 15%, rgba(0,0,0,1) 87%);
} */



/* CLASES */

    /* NAV HEADER */
/* .navigation_bar{
    position: relative;
    left: -33em;
    top: 28em;
    color:whitesmoke;
    font-family: "Arial Narrow";
} */


    /* MAIN */
        /* COLUMNAS */
/* .row{
    height: 100vh;
    text-align: center;
    position: relative;
    padding:1em;
    margin:0em;
} */

        /* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
}

.row_1{
    color:whitesmoke;
} */
        
        /* TITULOS POEMAS */
/* .column_left{
    float: left;
    width: 50%;
    position: relative;
    top: 15em;
} */

        /* TEXTOS POEMAS */
/* .column_right{
    float: right;
    width: 50%;
    position: relative;
    top: 4em;
}

.title_poem{
    font-family: "NotoSans-Regular";
    font-size: 3em;
}

.text_poems{
    font-family: "OpenSansCondensed-Light";
    max-width: 35em;
}

.row_1 .text_poems{
    text-align: left;
}

.row_2 .text_poems{
    text-align: right;
} */

/* FORMULARIO DE CONTACTO
.Contact_form{
      height: 100vh;
      text-align: center;
      font-family: "NotoSans-Regular";
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(205,205,205,1) 87%);
      padding-top: 0em;
}

.Contact_form h2{
    font-size: 2em;
    display: inline-block;
}

.Contact_form p{
    font-size: 1em;
} */
