/* FUENTES */

@font-face {
    font-family: "NotoSans";
    src: url('./fonts/NotoSans-Regular.ttf')
}

/* TAGS BASICOS */

body{
    margin: 0em;
    padding: 0em;
    background-image: url(./img/rachel_teen_titans.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

/* CLASES */

    /* MAIN */
        /* COLUMNAS */

.row{
    text-align: center;
    padding:0em;
    margin:0em;
}

        /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
        
        /* COLUMNA VACIA */
.column_left{
    height: 100vh;
    float: left;
    width: 80%;
}
        /* COLUMNA LOGIN */
.column_right{
    height: 100vh;
    float: right;
    width: 20%;
    position: relative;
    padding-top: 4em;
    background-color: rgba(0, 0, 0, 0.8);
}

    /* USER IMG */
.column_right img{
    height: 10em;
}


/* FORMULARIO DE INICIO DE SESIÓN */
.form_login input{
    font-size: 0.8em;
    border: 0.3px solid #482F95; ;
    color: whitesmoke;
    background-color: silver;
    border-radius: 25px;
    padding: 12px;
}

.form_login label{
    font-size: 1em;
    font-family: "NotoSans";
    color: #C02563;
    position: relative;
    bottom: 0.3em;
}

.form_login .button {
    background-color: #C02563;
}

/* "links" para restablecer */
.Login_nav{
    position: relative;
    top: 4em;
    color: white;
}

/* Color links */
.Login_nav a:link{
    color:silver;
    text-decoration: none;
    font-family: "NotoSans";
    font-size: 0.7em;
}

.Login_nav a:visited {
    color: silver;
}

.Login_nav a:hover {
    color: #482F95;
}

